
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Profil Sayfam</h1>
<br />
<div class="container">
    Hoşgeldiniz: @ViewBag.name
    <br />
    Cinsiyetiniz: @ViewBag.gender
    <br />
    Mail Adresiniz: @ViewBag.mail
    <br />
    <img src="@ViewBag.image" width="100" height="100" class="rounded-circle" />
</div>


