@model List<Crm.EntityLayer.Concrete.AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int sayac = 0;
}

<h1>Kullanıcı Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı</th>
        <th>Rol Ata</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.Name @item.Surname</td>
            <td><a href="/Role/AssignRole2/@item.Id" class="btn btn-dark">Rol Ata</a></td>
        </tr>
    }
</table>