
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Raporlar</h1>
<br />
<a href="/Report/ExcelStaticReport/" class="btn btn-outline-danger">Excel Statik Raporlar</a>
<a href="/Report/ExcelDynamicReport/" class="btn btn-outline-primary">Excel Dinamik Rapor</a>
<a href="/Report/StaticPdfReport/" class="btn btn-outline-warning">Pdf Statik Rapor</a>
