
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/Message/Inbox/"><i class="fa fa-fw fa-home"></i> Gelen Kutusu</a>
        <a href="/Message/Outbox/"><i class="fa fa-fw fa-wrench"></i> Giden Kutusu</a>
        <a href="/Message/SendMessage/"><i class="fa fa-fw fa-user"></i> Yeni Mesaj</a>
        <a href="/Profile/Index/"><i class="fa fa-fw fa-envelope"></i> Profilim</a>
        <a href="/Profile/Index/"><i class="fa fa-fw fa-envelope"></i> Profili Güncelle</a>
    </div>

    <div class="main">
       @RenderBody()
    </div>

</body>
</html>

