
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h2>Oppps!! Kayıp mı oldunuz?</h2>
<br />
<a href="/Employee/Index/" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
